* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

#navigation {
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#navigation ul li {
    display: inline-block;
    margin: 2vh;
    font-size: 2vh;
}

#navigation ul li a {
    text-decoration: none;
    color: #0e2c60;
    font-weight: bold;
}

#home {
    height: 85vh;
    background-image: url("../images/home.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#home p {
    color: white;
    margin-left: 50px;
}

#home p:first-child {
    font-size: 6vh;
    font-weight: 100;
}

#home p:last-child {
    font-size: 3vh;
    font-weight: bold;
    margin-top: 10px;
}

#skills {
    color: #0e2c60;
}

#skills h1 {
    font-weight: lighter;
    font-size: 6vh;
}

#gridSkills {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 38vh 38vh;
    grid-template-areas: "html css js"
                        "react sass git";
}

#gridSkills div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#gridSkills div i {
    font-size: 20vh;
}

#gridSkills div i:hover {
    transition: 1s;
    transform: rotate(360deg);
}




