* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}


#navigation {
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 5vh;
    margin-left: 5vh;
}

#navigation ul li {
    display: inline-block;
    margin: 2vh;
    font-size: 2vh;
}

#navigation ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#navigation #logo {
    background-image: url("../images/Mateusz Kwasny (1).jpg");
    width: 30vh;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#navigation #menu {
    font-size: 10vh;
}

#home {
    height: 85vh;
    background-image: url("../images/home.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

#home p {
    color: #f5f6fa;
    margin-left: 50px;
}

#home p:first-child {
    font-size: 6vh;
    font-weight: 100;
}

#home p:last-child {
    font-size: 3vh;
    font-weight: bold;
    margin-top: 10px;
}

#skills {
    color: #f5f6fa;
    height: 85vh;
    background-image: url("../images/home.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


#gridSkills {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 42.5vh 42.5vh;
    grid-template-areas: "html css js"
                        "react sass git";
}

#gridSkills div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#gridSkills div i {
    font-size: 20vh;
}

#gridSkills div i:hover {
    color: transparent;
    -webkit-text-stroke: 2px #f5f6fa;
}

#gridSkills div p {
    margin-top: 1vh;
    font-size: 3.5vh;
}
#gridSkills div p:hover {
    margin-top: 1vh;
    font-size: 3.5vh;
}

#contact {
    background-image: url("../images/home.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

#contact h1 {
    color: #f5f6fa;
}

#gridContact {
    display: grid;
    grid-auto-columns: 25% 25% 25% 25%;
    grid-template-rows: 50vh;
    grid-template-areas: "mail linkedin github phone";
}

#gridContact div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#gridContact div i {
    font-size: 20vh;
    text-decoration: none;
    color: #f5f6fa;
}

#gridContact div i:hover {
    color: transparent;
    -webkit-text-stroke: 2px #f5f6fa;
    transition: 1s;
}
